* {
    margin: 0;
    padding: 0;
    font-family: lato;
}
.containerMain {
    width: 96%;
    padding-left: 4%;
}
/* Style for Section 1 Where Song info are present. */
.sec1 {
    background-color: #454545;
    color: white;
}
.sec1 img {
    float: left;
    padding: 15px 60px 15px 15px;
}
.songInfo {
    padding: 15px 0 0;
}
.songInfo li {
    padding: 5% 1% 2% 0;
}
/* Style For Side Bar */
.sideBar {
    width: 3%;
    position: fixed;
    top: 1%;
    left: 0;
    padding: 0;
    background-color: white;
}
.navButton {
    list-style-type: none;
    margin: 0;
}
.navButton li {
    font-size: 1.7em;
    display: block;
    padding: 25px 20px 25px 10px;
}
/* Style For Songs List (In Middle Section or Section 2) */
.list {
    width: 100%;
    margin-top: 15px;
    padding: 0 10px 0 0;
    border: none;
}
.list tr {
    border-collapse: collapse;
}
.list td {
    padding: 10px 5px;
}
.list tr:nth-child(even) {
    background-color: #F0F0F0;
}
.list a {
    text-decoration: none;
    border: 0.2px solid black;
}
/* Style for player at the bottom of page */
.player {
    width: 100%;
    background-color: #43689B;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.songPoster {
    float: left;
    padding: 12px;
}
.songPoster img {
    float: left;
}
.songPoster p {
    float: right;
    padding-left: 10px;
    line-height: 1.7em;
}
.playerControl {
    float: right;
}
.playerOption {
    font-size: 1.4em;
}
.playerOption li {
    display: inline-block;
    padding-left: 45px;
    margin: 5% 0 0 90px;
}